<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.remote.RemoteTestNG"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="APIAutomation-master"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
    <mapAttribute key="org.testng.eclipse.ALL_CLASS_METHODS"/>
    <listAttribute key="org.testng.eclipse.CLASS_TEST_LIST">
        <listEntry value="com.hms.APITestingUsingUnirest.Roomtyperates"/>
        <listEntry value="com.hms.APITestingUsingUnirest.CancelCommitGroup"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Checknightauditstatus"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Addothercharge"/>
        <listEntry value="com.hms.APITestingUsingUnirest.CancelCheckout"/>
        <listEntry value="com.hms.APITestingUsingUnirest.EditAgent"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Occupancywiserate"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Getaccountstatement"/>
        <listEntry value="com.hms.APITestingUsingUnirest.editholdtilltime"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Editdnrs"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Generic.Log4j"/>
        <listEntry value="com.hms.APITestingUsingUnirest.GetInvoicesByDate"/>
        <listEntry value="com.hms.APITestingUsingUnirest.AddPaymentToGroup"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Addtocart"/>
        <listEntry value="com.hms.APITestingUsingUnirest.ConfirmTempBookings"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Getroomtypestochange"/>
        <listEntry value="com.hms.APITestingUsingUnirest.CaptureOrRefundTransaction"/>
        <listEntry value="com.hms.APITestingUsingUnirest.ChangeBookingStay"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Getbooking"/>
        <listEntry value="com.hms.APITestingUsingUnirest.PaymentFailedCaptures"/>
        <listEntry value="com.hms.APITestingUsingUnirest.GetCustomChargetaxes"/>
        <listEntry value="com.hms.APITestingUsingUnirest.BasicRateSearch"/>
        <listEntry value="com.hms.APITestingUsingUnirest.GetMinimumBookingRule"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Getallowednights"/>
        <listEntry value="com.hms.APITestingUsingUnirest.ChangeRoom"/>
        <listEntry value="com.hms.APITestingUsingUnirest.ChangeRate"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Gethoteloptions"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Bookingrestrictions"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Getinvoice"/>
        <listEntry value="com.hms.APITestingUsingUnirest.AbandonNightAudit"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Getgroupcancelcharge"/>
        <listEntry value="com.hms.APITestingUsingUnirest.UpdateDefaultSetting"/>
        <listEntry value="com.hms.APITestingUsingUnirest.changerateamountgroup"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Opencloseoverbooking"/>
        <listEntry value="com.hms.APITestingUsingUnirest.UpdateRoomType"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Commiteditbooking"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Getposproduct"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Consolidateaccount"/>
        <listEntry value="com.hms.APITestingUsingUnirest.GetAmenity"/>
        <listEntry value="com.hms.APITestingUsingUnirest.CreateAmenity"/>
        <listEntry value="com.hms.APITestingUsingUnirest.ReinstateBooking"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Closeeditbooking"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Getpaytype"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Confirmbooking"/>
        <listEntry value="com.hms.APITestingUsingUnirest.AddPaymentToBooking"/>
        <listEntry value="com.hms.APITestingUsingUnirest.ChangeRateforCart"/>
        <listEntry value="com.hms.APITestingUsingUnirest.RemovePromoCodeFromCart"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Keepalive"/>
        <listEntry value="com.hms.APITestingUsingUnirest.ConfirmHoldtillBookings"/>
        <listEntry value="com.hms.APITestingUsingUnirest.UpdateAmenity"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Getearlycheckincharge"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Bestsuggestedrate"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Wsauth"/>
        <listEntry value="com.hms.APITestingUsingUnirest.ConfirmDepositBooking"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Logout"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Deletefromcart"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Modifyamount"/>
        <listEntry value="com.hms.APITestingUsingUnirest.GeneratePerformaInvoice"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Getspdiscount"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Getusertypes"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Guestlookup"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Getroomstoassign"/>
        <listEntry value="com.hms.APITestingUsingUnirest.ChangeGuestStay"/>
        <listEntry value="com.hms.APITestingUsingUnirest.CommonConfig"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Getearlycheckoutcharge"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Removeguest"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Getusers"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Getpos"/>
        <listEntry value="com.hms.APITestingUsingUnirest.GetRoomTax"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Gethousestatus"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Updatewebbooking"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Getratestochange"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Deleteproformainvoice"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Getcheckins"/>
        <listEntry value="com.hms.APITestingUsingUnirest.GenerateCreditDebitProformaInvoice"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Generic.ApiUtils"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Gethoteldata"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Getcountrylist"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Getcounters"/>
        <listEntry value="com.hms.APITestingUsingUnirest.CreateRoomType"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Practice"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Login"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Getagents"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Getreservations"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Adddnrs"/>
        <listEntry value="com.hms.APITestingUsingUnirest.GetAllCurrencies"/>
        <listEntry value="com.hms.APITestingUsingUnirest.GetConsoleBookings"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Getaddons"/>
        <listEntry value="com.hms.APITestingUsingUnirest.RoutePaymentsToFolios"/>
        <listEntry value="com.hms.APITestingUsingUnirest.ApplySpecialDiscount"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Setgroupleader"/>
        <listEntry value="com.hms.APITestingUsingUnirest.LogoutUsers"/>
        <listEntry value="com.hms.APITestingUsingUnirest.CancelCheckin"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Getdnrs"/>
        <listEntry value="com.hms.APITestingUsingUnirest.GetCurrencyList"/>
        <listEntry value="com.hms.APITestingUsingUnirest.GetDailyRates"/>
        <listEntry value="com.hms.APITestingUsingUnirest.GetRateDetails"/>
        <listEntry value="com.hms.APITestingUsingUnirest.ChangeGroupStay"/>
        <listEntry value="com.hms.APITestingUsingUnirest.RemovePromoCode"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Web"/>
        <listEntry value="com.hms.APITestingUsingUnirest.AddPaymenttoInvoice"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Saveemailconfiguration"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Getdepositamount"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Editbooking"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Addoccupancies"/>
        <listEntry value="com.hms.APITestingUsingUnirest.GetHotelSettings"/>
        <listEntry value="com.hms.APITestingUsingUnirest.UpdateHotelInfo"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Getinvoices"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Editcorporate"/>
        <listEntry value="com.hms.APITestingUsingUnirest.CancelandCommitBooking"/>
        <listEntry value="com.hms.APITestingUsingUnirest.UpdateBookingSource"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Releasebooking"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Gethoteldefaultcurrency"/>
        <listEntry value="com.hms.APITestingUsingUnirest.GetPayments"/>
        <listEntry value="com.hms.APITestingUsingUnirest.GuestCheckin"/>
        <listEntry value="com.hms.APITestingUsingUnirest.GuestCheckOut"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Splitrate"/>
        <listEntry value="com.hms.APITestingUsingUnirest.GetGuestDetail"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Regxprcts"/>
        <listEntry value="com.hms.APITestingUsingUnirest.ApplyPromocode"/>
        <listEntry value="com.hms.APITestingUsingUnirest.GetAvailableDisounts"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Loadcart"/>
        <listEntry value="com.hms.APITestingUsingUnirest.SaveStandardRates"/>
        <listEntry value="com.hms.APITestingUsingUnirest.SplitBooking"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Startlogoutusers"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Getcorporates"/>
        <listEntry value="com.hms.APITestingUsingUnirest.SaveGuestSignature"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Clearcart"/>
        <listEntry value="com.hms.APITestingUsingUnirest.GatewayRefund"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Getallpaytypes"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Getcolorcodes"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Createuser"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Getchilds"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Addcustomcharge"/>
        <listEntry value="com.hms.APITestingUsingUnirest.ChangeRateAmount"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Createcorporate"/>
        <listEntry value="com.hms.APITestingUsingUnirest.SmokeTest"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Getcancellationcharge"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Assignroom"/>
        <listEntry value="com.hms.APITestingUsingUnirest.SaveWeeklyRates"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Attachaddons"/>
        <listEntry value="com.hms.APITestingUsingUnirest.EditBookingPreference"/>
        <listEntry value="com.hms.APITestingUsingUnirest.RoutetoNewFolio"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Cancel"/>
        <listEntry value="com.hms.APITestingUsingUnirest.AddBookingGstin"/>
        <listEntry value="com.hms.APITestingUsingUnirest.UnsetGroupLeader"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Getminimumbookablenight"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Getgroup"/>
        <listEntry value="com.hms.APITestingUsingUnirest.GetStandardRates"/>
        <listEntry value="com.hms.APITestingUsingUnirest.RouteToNewFolioNew"/>
        <listEntry value="com.hms.APITestingUsingUnirest.PerformNightAudit"/>
        <listEntry value="com.hms.APITestingUsingUnirest.ChangeGroupOwner"/>
        <listEntry value="com.hms.APITestingUsingUnirest.EditBookingPretax"/>
        <listEntry value="com.hms.APITestingUsingUnirest.ChangeRoomType"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Earlycheckout"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Changepayterm"/>
        <listEntry value="com.hms.APITestingUsingUnirest.SaveDailyRates"/>
        <listEntry value="com.hms.APITestingUsingUnirest.RemoveOccupancies"/>
        <listEntry value="com.hms.APITestingUsingUnirest.GetRoomType"/>
        <listEntry value="com.hms.APITestingUsingUnirest.GetWeeklyRates"/>
        <listEntry value="com.hms.APITestingUsingUnirest.AttachGuest"/>
        <listEntry value="com.hms.APITestingUsingUnirest.RoutetoFolio"/>
        <listEntry value="com.hms.APITestingUsingUnirest.GetAppliedDiscountedPrice"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Addpaycard"/>
        <listEntry value="com.hms.APITestingUsingUnirest.CreateRoom"/>
        <listEntry value="com.hms.APITestingUsingUnirest.UpdateRoomTax"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Sendinvoiceemail"/>
        <listEntry value="com.hms.APITestingUsingUnirest.FinalizeInvoice"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Editpackageprice"/>
        <listEntry value="com.hms.APITestingUsingUnirest.AddBookingsToGroup"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Edituser"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Sendbookingemail"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Getorder"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Deletednrs"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Movebooking"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Getbookingsearch"/>
        <listEntry value="com.hms.APITestingUsingUnirest.EditGroupPreTax"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Rateidsforadtocart"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Savebooking"/>
        <listEntry value="com.hms.APITestingUsingUnirest.ChangeRoomTypes"/>
        <listEntry value="com.hms.APITestingUsingUnirest.CreateRoomTax"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Search"/>
        <listEntry value="com.hms.APITestingUsingUnirest.EditSharer"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Getremaininghoursfornightaudit"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Getzonelist"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Getcheckouts"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Createagent"/>
        <listEntry value="com.hms.APITestingUsingUnirest.GetbookingCancelCharge"/>
        <listEntry value="com.hms.APITestingUsingUnirest.GetPaymentMode"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Ireporter"/>
        <listEntry value="com.hms.APITestingUsingUnirest.GetGuestTitle"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Getbookings"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Unassignroom"/>
        <listEntry value="com.hms.APITestingUsingUnirest.ApplyPromocodeToCart"/>
        <listEntry value="com.hms.APITestingUsingUnirest.Getmaxpax"/>
        <listEntry value="com.hms.APITestingUsingUnirest.UpdateGuestDetails"/>
        <listEntry value="com.hms.APITestingUsingUnirest.UpdateCurrencies"/>
    </listAttribute>
    <listAttribute key="org.testng.eclipse.METHOD_TEST_LIST"/>
    <listAttribute key="org.testng.eclipse.PACKAGE_TEST_LIST"/>
    <stringAttribute key="org.testng.eclipse.PRE_DEFINED_LISTENERS" value=""/>
    <intAttribute key="org.testng.eclipse.TYPE" value="1"/>
</launchConfiguration>
